.nam_flr {
    display: flex;
   
}
.mon_ren {
    display: flex;
   
}
.gar_lig {
    display: flex;
   
}
.ele_gas {
    display: flex;
   
}

.curd_details {

}

.vara_detail_section {
    display: flex;
    justify-content: space-evenly;
   
}

.des_to {
    display: flex;
}

.edit {
    display: flex;
    justify-content: center;
}